body{
    font-family: Arial, Helvetica, sans-serif;
}


/*GLOBAL HEADER*/

#mainlogo{
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #4d4a4a;
}

a{
    color: #000;
    text-decoration: none;
}


/*HOVEDINNHOLD*/

article{
    margin: 1rem 0;
    border:1px solid #efefef;
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    padding: 1rem;

    img{
        width: 100%;
    }

}


.btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}